
@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>

<p>Your feedback if really appreciated. We will go through all the feedback and get back to you when needed.</p>
<p>Thank you PrintPics Team</p>